body{
background-color: #222;
}
.card{
    background-color: #555;
    color: white;
}
h1{
    color: white;
}
.none{
    display: none;
}
.show{
    display: inline;
}
.checked{
    background: rgb(136, 136, 136);
    text-decoration: line-through;
}